Repository AndriiSkliar/drink-code-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{json,css,scss,md}": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

change img stub
  src/assets/dummyDrinkThumb.png
  src/assets/images/drink-page/drink_stub.png
Due: none

delete some comments
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinksPage/DrinksPage.jsx
Due: prettier --write, eslint --fix

done
  src/components/Hero/StyledHero.js
  src/pages/HomePage/StyledHomePage.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@62d37ab5f7692df60a3b29827ebb201a240964ec 🚀
  404.html
  assets/AddDrinkPage-abd02c11.js
  assets/DrinkCard.styled-c9d173fa.js
  assets/DrinkPage-4f1bd6f9.js
  assets/DrinksPage-70ec2222.js
  assets/ErrorPage-d5c490d9.js
  assets/FavoritesPage-52a8abec.js
  assets/HomePage-40bdef57.js
  assets/MyDrinksPage-f4073850.js
  assets/NotFound-53b28eb1.js
  assets/NotFound-ca32f7c0.js
  assets/Pagination-ee7b55b5.js
  assets/Title-94462df9.js
  assets/index-aaef294e.js
  index.html
Due: none

del
  src/App.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@62388aa6bf0ecde5613ad90c5b576944471e97c4 🚀
  404.html
  assets/AddDrinkPage-847684a2.js
  assets/DrinkCard.styled-34f1d3ac.js
  assets/DrinkPage-45aa38c5.js
  assets/DrinksPage-e070a2aa.js
  assets/ErrorPage-e6f346db.js
  assets/FavoritesPage-7d597caf.js
  assets/HomePage-0b4226d9.js
  assets/MyDrinksPage-c618a8ab.js
  assets/NotFound-53b28eb1.js
  assets/NotFound-eb7c9fcf.js
  assets/Pagination-98a6532a.js
  assets/Title-645adb34.js
  assets/index-d53177c3.js
  index.html
Due: none

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@bc42abff70c108fd478d242d7925f4f829f57019 🚀
  404.html
  assets/AddDrinkPage-70bcffc4.js
  assets/DrinkCard.styled-baf87cde.js
  assets/DrinkPage-329de69e.js
  assets/DrinksPage-d07adaa0.js
  assets/ErrorPage-067f516a.js
  assets/FavoritesPage-e6bf75eb.js
  assets/HomePage-f14b94a1.js
  assets/MyDrinksPage-6ac8acf0.js
  assets/NotFound-14469a12.js
  assets/NotFound-eb7c9fcf.js
  assets/Pagination-8e4ca0e9.js
  assets/Title-bddb37bc.js
  assets/dummyDrinkThumb-bcfa1519.png
  assets/dummyDrinkThumb-f7aadab2.png
  assets/index-0941b9d0.js
  index.html
Due: none

update_routes
  src/App.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@0df2cfcde28699434bec6e8ab756f326527629d6 🚀
  404.html
  assets/AddDrinkPage-837b9d82.js
  assets/DrinkCard.styled-2c48c998.js
  assets/DrinkPage-09998eda.js
  assets/DrinksPage-cc1179e2.js
  assets/ErrorPage-1f9e62b0.js
  assets/FavoritesPage-cee317e7.js
  assets/HomePage-f7b9c484.js
  assets/MyDrinksPage-b03b5bbc.js
  assets/NotFound-14469a12.js
  assets/NotFound-ce275a10.js
  assets/Pagination-9fc4b481.js
  assets/Title-7d38b688.js
  assets/index-0941b9d0.js
  assets/index-47029411.js
  index.html
Due: none

fix 2 and six front
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/pages/DrinksPage/DrinksPage.styled.js
Due: prettier --write, eslint --fix

add fix 7
  src/components/AddDrinkR/AddDrinkForm.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@4b275ba70661f1476a31410d57177d5e117f861c 🚀
  404.html
  assets/AddDrinkPage-78e09ca4.js
  assets/DrinkCard.styled-88ee2970.js
  assets/DrinkPage-b3dedce0.js
  assets/DrinksPage-283e0bde.js
  assets/ErrorPage-dc3415f9.js
  assets/FavoritesPage-8e23b62c.js
  assets/HomePage-8bcb9a4b.js
  assets/MyDrinksPage-5c833e8b.js
  assets/NotFound-5c5f84b9.js
  assets/NotFound-ce275a10.js
  assets/Pagination-2e9cf6b8.js
  assets/Title-e7a7391f.js
  assets/index-b540e5e4.js
  index.html
Due: none

fix height img
  src/components/DrinksList/DrinksItem/StyledDrinksItem.js
Due: prettier --write, eslint --fix

fixed cards
  src/components/DrinksList/DrinksItem/StyledDrinksItem.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@5205d3fe91dd1ef5a73511329a08fdef6c9cee0f 🚀
  404.html
  assets/AddDrinkPage-3ec98f90.js
  assets/DrinkCard.styled-2ec98f81.js
  assets/DrinkPage-55053d1f.js
  assets/DrinksPage-167e45f2.js
  assets/ErrorPage-e327551e.js
  assets/FavoritesPage-0444e548.js
  assets/HomePage-02760499.js
  assets/MyDrinksPage-5e44b16f.js
  assets/NotFound-5c5f84b9.js
  assets/NotFound-e75bc1b0.js
  assets/Pagination-1264d028.js
  assets/Title-5246a4be.js
  assets/index-2c43f712.js
  index.html
Due: none

fixiki
  src/components/DrinkCard/DrinkCard.jsx
  src/components/DrinkCard/DrinkCard.styled.js
  src/components/DrinkSearch/DrinksList/DrinksItem/DrinksItem.styled.js
  src/pages/FavoritesPage/FavoritesPage.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@be0d8b5949c140b55f23c7d0d1463538bce61fe8 🚀
  404.html
  assets/AddDrinkPage-a8c4d9bc.js
  assets/DrinkCard.styled-3bdbd207.js
  assets/DrinkPage-9fed2b37.js
  assets/DrinksItem.styled-142f2572.js
  assets/DrinksPage-167e45f2.js
  assets/DrinksPage-b5bb38a0.js
  assets/ErrorPage-fec1d18c.js
  assets/FavoritesPage-0444e548.js
  assets/FavoritesPage-15b3b367.js
  assets/HomePage-5ab927d4.js
  assets/MyDrinksPage-046f9ca3.js
  assets/NotFound-12825023.js
  assets/NotFound-e75bc1b0.js
  assets/Pagination-bfd3c1a6.js
  assets/Title-78efff1f.js
  assets/index-419dca2d.js
  index.html
Due: none

фиксики градиента во всех карточках)
  src/components/DrinkCard/DrinkCard.styled.js
  src/components/DrinkCard/OwnDrinkCard.jsx
  src/components/DrinksList/DrinksItem/StyledDrinksItem.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@edc933355048a13b94a48941d0815236a5b6f935 🚀
  404.html
  assets/AddDrinkPage-8f3fd218.js
  assets/DrinkCard.styled-1eed4b6c.js
  assets/DrinkPage-88f68769.js
  assets/DrinksItem.styled-142f2572.js
  assets/DrinksPage-914fe036.js
  assets/ErrorPage-b1a08567.js
  assets/FavoritesPage-15b3b367.js
  assets/FavoritesPage-bde0c1f4.js
  assets/HomePage-de77976a.js
  assets/MyDrinksPage-046f9ca3.js
  assets/MyDrinksPage-0e17b32a.js
  assets/NotFound-12825023.js
  assets/NotFound-607c8d6b.js
  assets/Pagination-a0337004.js
  assets/Pagination-bfd3c1a6.js
  assets/Title-28a1743f.js
  assets/index-edeae60b.js
  index.html
Due: none

fix style
  src/components/AddDrinkR/AddDrinkForm.styled.js
  src/components/AddDrinkR/DrinkDescription/DrinkDescription.styled.js
  src/components/AddDrinkR/Ingredients/Ingredients.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@1e74421fc34cc2c56d91ebe6a2db74de80b9fc87 🚀
  404.html
  assets/AddDrinkPage-d348b954.js
  assets/DrinkCard.styled-5549fdbc.js
  assets/DrinkPage-85a89de3.js
  assets/DrinksPage-051f958a.js
  assets/ErrorPage-1a05df40.js
  assets/FavoritesPage-d9a6edf1.js
  assets/HomePage-fbc5d016.js
  assets/MyDrinksPage-62c2a62d.js
  assets/NotFound-607c8d6b.js
  assets/NotFound-a5bb6964.js
  assets/Pagination-dd6a9647.js
  assets/Title-db40fada.js
  assets/index-a3f8adbe.js
  index.html
Due: none

update
  src/components/DrinkSearch/SearchBar/SearchBar.jsx
  src/components/DrinkSearch/Select/SearchSelectCategory.jsx
  src/components/DrinkSearch/Select/SearchSelectIngredients.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/pages/HomePage/HomePage.jsx
  src/redux/auth/drinks/cocktails.reducer.js
  src/redux/auth/drinks/drinkSelectors.js
  src/redux/auth/drinks/drinks.reducer.js
  src/redux/auth/drinks/drinksOperations.js
  src/redux/auth/drinks/drinksSearch.js
  src/redux/auth/drinks/drinksSlice.js
  src/redux/drinks/drinks.reducer.js
  src/redux/store.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@5feb0912b3160f19382762f87b9eb05dc898026b 🚀
  404.html
  assets/AddDrinkPage-fa12e121.js
  assets/DrinkCard.styled-1dc531cf.js
  assets/DrinkPage-42164eab.js
  assets/DrinksPage-051f958a.js
  assets/DrinksPage-317df0e7.js
  assets/ErrorPage-31467da5.js
  assets/FavoritesPage-b76a62af.js
  assets/FavoritesPage-d9a6edf1.js
  assets/HomePage-3254068d.js
  assets/MyDrinksPage-62c2a62d.js
  assets/MyDrinksPage-8ec7ca77.js
  assets/NotFound-78a208f5.js
  assets/NotFound-a5bb6964.js
  assets/Pagination-914d5b01.js
  assets/Title-5af351e0.js
  assets/drinkSelectors-5b86cb2e.js
  assets/drinks.selectors-2774a1f2.js
  assets/index-4f9b7f0d.js
  assets/index-a3f8adbe.js
  assets/selectors-dad3d6eb.js
  index.html
Due: none

fix
  src/App.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/pages/DrinksPage/DrinksPage.styled.js
  src/pages/FavoritesPage/FavoritesPage.jsx
  src/redux/auth/auth.operations.js
  src/redux/drinks/drinks.operations.js
  src/redux/drinks/drinks.reducer.js
  src/redux/selectors/drinks.selectors.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@9c64eb64633ee0cdacc58779284408c1fb1c43fe 🚀
  404.html
  assets/AddDrinkPage-54bf358f.js
  assets/DrinkCard.styled-03cfde74.js
  assets/DrinkPage-70b87431.js
  assets/DrinksPage-195f1ddd.js
  assets/DrinksPage-317df0e7.js
  assets/ErrorPage-a9ae23da.js
  assets/FavoritesPage-10ac0516.js
  assets/FavoritesPage-b76a62af.js
  assets/HomePage-65606432.js
  assets/MyDrinksPage-f7cc3c76.js
  assets/NotFound-5a27a328.js
  assets/NotFound-78a208f5.js
  assets/Pagination-120514df.js
  assets/Title-a0acee72.js
  assets/drinks.selectors-2774a1f2.js
  assets/drinks.selectors-3548c9f3.js
  assets/index-1665dc1d.js
  assets/index-4f9b7f0d.js
  index.html
Due: none

save
  src/components/DrinkSearch/Select/SearchSelectCategory.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/redux/auth/auth.operations.js
  src/redux/drinks/drinks.operations.js
  src/redux/drinks/drinks.reducer.js
  src/redux/selectors/drinks.selectors.js
Due: prettier --write, eslint --fix

done
  src/components/DrinkSearch/SearchBar/SearchBar.jsx
  src/components/DrinksList/DrinksList.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/redux/auth/auth.operations.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@e08062cc5a606afcd4504caf7aac5808332ba6b3 🚀
  404.html
  assets/AddDrinkPage-0f00e6dc.js
  assets/DrinkCard.styled-71f072be.js
  assets/DrinkPage-cc7c4aea.js
  assets/DrinksPage-195f1ddd.js
  assets/DrinksPage-bd1b43d9.js
  assets/ErrorPage-429dd49d.js
  assets/FavoritesPage-b34691a9.js
  assets/HomePage-066ea96d.js
  assets/MyDrinksPage-376d19cb.js
  assets/NotFound-5a27a328.js
  assets/NotFound-672df24a.js
  assets/Pagination-0e4a05e2.js
  assets/Title-ecfe899d.js
  assets/drinks.selectors-3548c9f3.js
  assets/drinks.selectors-d61694b4.js
  assets/index-39f8cb3b.js
  index.html
Due: none

fix
  src/App.styled.jsx
  src/components/DrinkSearch/Select/SearchSelectCategory.jsx
  src/components/DrinkSearch/Select/SearchSelectIngredients.jsx
  src/index.css
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@29d2ead9f7ef214e8c5d1f71abc690df5c1b2149 🚀
  404.html
  assets/AddDrinkPage-1cf3aee9.js
  assets/DrinkCard.styled-cdd57408.js
  assets/DrinkPage-f49e1df0.js
  assets/DrinksPage-6536ac6e.js
  assets/DrinksPage-bd1b43d9.js
  assets/ErrorPage-d90fde4a.js
  assets/FavoritesPage-eafafe37.js
  assets/HomePage-3f1cc79e.js
  assets/MyDrinksPage-540c56d4.js
  assets/NotFound-04f2926b.js
  assets/NotFound-672df24a.js
  assets/Pagination-7f278487.js
  assets/Title-b3ee4932.js
  assets/drinks.selectors-cc3f5dd0.js
  assets/drinks.selectors-d61694b4.js
  assets/index-08ff78d5.css
  assets/index-2733121a.css
  assets/index-3bc7ec2a.js
  index.html
Due: none

fixed bug
  src/pages/DrinksPage/DrinksPage.jsx
  src/redux/drinks/drinks.reducer.js
  src/redux/selectors/drinks.selectors.js
Due: prettier --write, eslint --fix

fix bugs
  src/components/DrinkList/DrinkList.styled.js
  src/components/DrinkSearch/Select/SearchSelectCategory.jsx
  src/index.css
  src/pages/DrinksPage/DrinksPage.jsx
Due: prettier --write, eslint --fix

Update index.css
  src/index.css
Due: prettier --write

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@bcc71afb1a047773dc91b93d633120554b5c32f4 🚀
  404.html
  assets/AddDrinkPage-d3d106e8.js
  assets/DrinkCard.styled-6ab61232.js
  assets/DrinkPage-448f730d.js
  assets/DrinksPage-490f9c18.js
  assets/ErrorPage-5edaa4d7.js
  assets/FavoritesPage-c0436522.js
  assets/HomePage-cafda46b.js
  assets/MyDrinksPage-06f54e66.js
  assets/NotFound-04f2926b.js
  assets/NotFound-4fe30493.js
  assets/Pagination-fefb0f58.js
  assets/Title-3c3a775f.js
  assets/index-08ff78d5.css
  assets/index-9748825b.css
  assets/index-d39268e7.js
  index.html
Due: none

deleting unused component
  src/components/AddDrink/AddDrinkForm.jsx
  src/components/AddDrink/AddDrinkForm.styled.js
  src/components/AddDrink/AddDrinkForm.styled.jsx
  src/components/AddDrink/DrinkDescription/DrinkDescription.jsx
  src/components/AddDrink/DrinkDescription/DrinkDescription.styled.js
  src/components/AddDrink/DrinkDescription/DrinkDescryption.styled.jsx
  src/components/AddDrink/DrinkDescription/category.js
  src/components/AddDrink/DrinkDescription/glasses.js
  src/components/AddDrink/DrinkIngredients/DrinkIngredients.jsx
  src/components/AddDrink/DrinkIngredients/DrinkIngredients.styled.jsx
  src/components/AddDrink/DrinkIngredients/IngredientsItem/IngridientsItem.jsx
  src/components/AddDrink/DrinkIngredients/IngredientsItem/IngridientsItem.styled.jsx
  src/components/AddDrink/Ingredients/Ingredients.jsx
  src/components/AddDrink/Ingredients/Ingredietns.styled.jsx
  src/components/AddDrink/Ingredients/ingredients.json
  src/components/AddDrink/Recipe/Recipe.jsx
  src/components/AddDrink/Recipe/Recipe.styled.jsx
  src/components/AddDrink/addDrinkFormInitials.js
  src/components/AddDrink/colors.js
  src/components/AddDrink/initianValues.js
  src/components/AddDrinkR/AddDrinkForm.jsx
  src/components/AddDrinkR/DrinkDescription/DrinkDescription.jsx
  src/components/AddDrinkR/Recipe/Recipe.jsx
  src/components/AddDrinkR/Recipe/Recipe.styled.jsx
  src/pages/AddDrinkPage/AddDrinkPage.jsx
Due: prettier --write, eslint --fix

Добавлен запрос ингредиентов через Redux в SearchSelectIngredients
  src/components/DrinkSearch/Select/SearchSelectIngredients.jsx
  src/redux/drinks/drinks.operations.js
  src/redux/drinks/drinks.reducer.js
  src/redux/selectors/drinks.selectors.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@7b6e776fababdac5d2ce2998dbfcc0bdec3b0664 🚀
  404.html
  assets/AddDrinkPage-2034bbe2.js
  assets/DrinkCard.styled-1be177af.js
  assets/DrinkPage-794a0fbb.js
  assets/DrinksPage-490f9c18.js
  assets/DrinksPage-68214f0c.js
  assets/ErrorPage-402fd9c5.js
  assets/FavoritesPage-6591187c.js
  assets/HomePage-823df0f1.js
  assets/MyDrinksPage-06f54e66.js
  assets/MyDrinksPage-2db3f2fd.js
  assets/NotFound-4fe30493.js
  assets/NotFound-a7e07f6d.js
  assets/Pagination-1d28e70b.js
  assets/Title-8479c625.js
  assets/drinks.selectors-106952d2.js
  assets/drinks.selectors-cc3f5dd0.js
  assets/index-22cea3d6.js
  assets/index-d39268e7.js
  index.html
Due: none

upd
  src/pages/DrinksPage/DrinksPage.jsx
Due: prettier --write, eslint --fix
