Repository AndriiSkliar/drink-code-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{json,css,scss,md}": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

update
  src/App.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@3302564a46a8052e7e5abf3334d567e712304b67 🚀
  404.html
  assets/AddDrinkPage-febabb80.js
  assets/DrinkPage-7f67453c.js
  assets/DrinksPage-8bcc380f.js
  assets/ErrorPage-6d35b534.js
  assets/FavoritesPage-520e82e8.js
  assets/FavoritesPage-e3b3fa59.js
  assets/FavoritesPage.styled-421cbdf4.js
  assets/HomePage-983a52a2.js
  assets/MyDrinksPage-1c8c82af.js
  assets/MyDrinksPage-d6021c07.js
  assets/NotFound-3a2da803.js
  assets/NotFound-9fa7af04.js
  assets/Pagination-5a7bd581.js
  assets/Title-522b32fb.js
  assets/index-2f979c0e.js
  assets/index-dd371cc1.js
  assets/search-76c7371b.svg
  assets/selectors-d3804845.js
  assets/selectors-db665fa7.js
  index.html
Due: none

Добавив пагінацію
  src/pages/MyDrinksPage/MyDrinks.styled.js
  src/pages/MyDrinksPage/MyDrinksPage.jsx
  src/redux/drinks/cocktails.reducer.js
  src/redux/drinks/drinksOperations.js
  src/redux/drinks/drinksSlice.js
  src/redux/selectors.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@86714176e1055c84cb8f532233f2809c4ae13385 🚀
  404.html
  assets/AddDrinkPage-55582907.js
  assets/DrinkPage-1db5e41b.js
  assets/DrinksPage-554eb019.js
  assets/ErrorPage-ba2805ad.js
  assets/FavoritesPage-323548d8.js
  assets/FavoritesPage.styled-5c6bc6a6.js
  assets/HomePage-aba0a769.js
  assets/MyDrinksPage-1c8c82af.js
  assets/MyDrinksPage-231db295.js
  assets/NotFound-20abc1c9.js
  assets/NotFound-3a2da803.js
  assets/Pagination-4ed2dd08.js
  assets/Title-5b7099e5.js
  assets/index-3b60cef1.js
  assets/index-dd371cc1.js
  index.html
Due: none

fix cocktail details
  src/App.jsx
  src/api/getDrinkById.js
  src/components/DrinksList/DrinksItem/DrinksItem.jsx
  src/components/DrinksList/DrinksList.jsx
  src/components/Footer/FooterNavigation/FooterNavigation.jsx
  src/components/Footer/Logo/Logo.jsx
  src/components/HeaderMain/NavMenu/NavMenu.jsx
  src/pages/DrinkPage/DrinkPage.jsx
Due: prettier --write, eslint --fix

save
  src/components/Footer/Logo/Logo.jsx
Due: prettier --write, eslint --fix

fix searching by category and ingredients
  src/components/DrinkSearch/SearchBar/SearchBar.jsx
  src/components/DrinkSearch/Select/SearchSelectCategory.jsx
  src/components/DrinkSearch/Select/SearchSelectIngredients.jsx
  src/components/NotFoundDrink/NotFound.jsx
  src/pages/DrinksPage/DrinksPage.jsx
  src/redux/drinks/drinks.reducer.js
Due: prettier --write, eslint --fix

Update App.jsx
  src/App.jsx
Due: prettier --write, eslint --fix

Update NavMenu.jsx
  src/components/HeaderMain/NavMenu/NavMenu.jsx
Due: prettier --write, eslint --fix

add check on empty arrary for right render
  src/components/DrinksList/DrinksList.jsx
  src/pages/DrinksPage/DrinksPage.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@267c0e2ea65d71a9b35962789432ca32a9773af6 🚀
  404.html
  assets/AddDrinkPage-b93d98a9.js
  assets/DrinkPage-395a5cc0.js
  assets/DrinksPage-3b07fed3.js
  assets/ErrorPage-72dd0020.js
  assets/FavoritesPage-622d49b6.js
  assets/FavoritesPage.styled-ce52e11b.js
  assets/HomePage-48936cef.js
  assets/MyDrinksPage-231db295.js
  assets/MyDrinksPage-41fca6d8.js
  assets/NotFound-149aa99b.js
  assets/NotFound-20abc1c9.js
  assets/Pagination-8572f721.js
  assets/Title-05a9c15c.js
  assets/index-7bde485d.js
  index.html
Due: none

del /home
  src/components/HeaderMain/NavMenu/NavMenu.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@94f1ea9f77e0727555d500e217613cddd4aee409 🚀
  404.html
  assets/AddDrinkPage-d4373d6e.js
  assets/DrinkPage-58c1ad06.js
  assets/DrinksPage-9a8965df.js
  assets/ErrorPage-7e64d950.js
  assets/FavoritesPage-e9f8e382.js
  assets/FavoritesPage.styled-c1a1d44d.js
  assets/HomePage-2c0e1e7d.js
  assets/MyDrinksPage-41fca6d8.js
  assets/MyDrinksPage-793d0aff.js
  assets/NotFound-149aa99b.js
  assets/NotFound-3753ed77.js
  assets/Pagination-1852039d.js
  assets/Title-06b5731d.js
  assets/index-58b0adbb.js
  index.html
Due: none

adding stylization
  src/api/addDrink.js
  src/assets/icons/addDrink.svg
  src/components/AddDrinkR/AddDrinkForm.jsx
  src/components/AddDrinkR/AddDrinkForm.styled.js
  src/components/AddDrinkR/DrinkDescription/DrinkDescription.jsx
  src/components/AddDrinkR/DrinkDescription/DrinkDescription.styled.js
  src/components/AddDrinkR/Ingredients/Ingredients.jsx
  src/components/AddDrinkR/Ingredients/Ingredietns.styled.jsx
  src/components/AddDrinkR/Recipe/Recipe.jsx
  src/components/AddDrinkR/Recipe/Recipe.styled.jsx
  src/pages/AddDrinkPage/AddDrinkPage.jsx
  src/pages/AddDrinkPage/AddDrinkPage.styled.jsx
Due: prettier --write, eslint --fix

change api to redux
  src/api/getDrinkById.js
  src/pages/DrinkPage/DrinkPage.jsx
  src/redux/drinks/drinkSelectors.js
  src/redux/drinks/drinksOperations.js
  src/redux/drinks/drinksSlice.js
Due: prettier --write, eslint --fix

Update DrinkPage.jsx
  src/pages/DrinkPage/DrinkPage.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@496e56fa302c98cf919b710faaae11832f7b3500 🚀
  404.html
  assets/AddDrinkPage-c043de56.js
  assets/DrinkPage-607159bc.js
  assets/DrinksPage-56453c4e.js
  assets/ErrorPage-e99b8bde.js
  assets/FavoritesPage-8fc70c1c.js
  assets/FavoritesPage.styled-3c00edc8.js
  assets/HomePage-ad56e418.js
  assets/MyDrinksPage-17a2e5c7.js
  assets/MyDrinksPage-793d0aff.js
  assets/NotFound-3753ed77.js
  assets/NotFound-72ff3242.js
  assets/Pagination-1852039d.js
  assets/Pagination-b73466ee.js
  assets/Title-bcbab48a.js
  assets/drinkSelectors-5b86cb2e.js
  assets/index-58b0adbb.js
  assets/index-e4677a76.js
  index.html
Due: none

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@30a0b8447cde6aa95ece5214037ca2828f661f18 🚀
  404.html
  assets/AddDrinkPage-db8a3988.js
  assets/DrinkPage-bb40783b.js
  assets/DrinksPage-8befdef4.js
  assets/ErrorPage-aba06b60.js
  assets/FavoritesPage-2213a78a.js
  assets/FavoritesPage.styled-9202279b.js
  assets/HomePage-9aec0529.js
  assets/MyDrinksPage-17a2e5c7.js
  assets/MyDrinksPage-d5c5e6f2.js
  assets/NotFound-72ff3242.js
  assets/NotFound-9bd4ada6.js
  assets/Pagination-d934601c.js
  assets/Title-877cb272.js
  assets/index-adddee4c.js
  index.html
Due: none

fix bugs
  src/components/DrinkList/DrinkList.styled.js
  src/components/Pagination/Pagination.styled.jsx
  src/pages/MyDrinksPage/MyDrinksPage.jsx
  src/redux/drinks/cocktails.reducer.js
  src/redux/drinks/drinksOperations.js
  src/redux/drinks/drinksSlice.js
Due: prettier --write, eslint --fix

delete not founDrink on Drinks pages
  src/components/NotFoundDrink/NotFound.jsx
  src/pages/DrinksPage/DrinksPage.jsx
Due: prettier --write, eslint --fix

update
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/LogoHeader/LogoHeader.jsx
  src/components/HeaderMain/MobileMenu/MobileMenu.jsx
  src/components/HeaderMain/NavMenu/NavMenu.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@4cc28200fc47ec22d6fde08c6b2f0bab3f885daa 🚀
  404.html
  assets/AddDrinkPage-e8503b38.js
  assets/DrinkPage-b53a86e2.js
  assets/DrinksPage-10a626a2.js
  assets/ErrorPage-f07b9fbf.js
  assets/FavoritesPage-e322da45.js
  assets/FavoritesPage.styled-4a4b8e20.js
  assets/HomePage-2840c0fe.js
  assets/MyDrinksPage-d5c5e6f2.js
  assets/MyDrinksPage-ef76c9de.js
  assets/NotFound-9bd4ada6.js
  assets/NotFound-c08ea732.js
  assets/Pagination-458a709e.js
  assets/Title-e94107f0.js
  assets/index-7d0f1e8d.js
  index.html
Due: none

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@17c630003f6c92f57bb86f5c6d1c72517a3fb5bd 🚀
  404.html
  assets/AddDrinkPage-631ace06.js
  assets/DrinkCard-e41d2379.js
  assets/DrinkPage-e375c501.js
  assets/DrinksPage-63e19231.js
  assets/ErrorPage-d7a0cd85.js
  assets/FavoritesPage-5706b1bc.js
  assets/FavoritesPage.styled-4a4b8e20.js
  assets/HomePage-d0e10958.js
  assets/MyDrinksPage-4ba78689.js
  assets/MyDrinksPage-ef76c9de.js
  assets/NotFound-a474b446.js
  assets/NotFound-c08ea732.js
  assets/Pagination-458a709e.js
  assets/Pagination-991d7fdd.js
  assets/Title-4e321e20.js
  assets/index-7d0f1e8d.js
  assets/index-f01e9f46.js
  assets/selectors-339aa893.js
  assets/selectors-d3804845.js
  index.html
Due: none

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@c4c2f944e8a06adf40bed66cc22c7c3630875a88 🚀
  404.html
  assets/AddDrinkPage-8fb622d1.js
  assets/DrinkCard-a98c7243.js
  assets/DrinkPage-0418507a.js
  assets/DrinksPage-29122c76.js
  assets/ErrorPage-ae4a6235.js
  assets/FavoritesPage-7b72cc71.js
  assets/HomePage-86320715.js
  assets/MyDrinksPage-8756c8b6.js
  assets/NotFound-4ddb8526.js
  assets/NotFound-a474b446.js
  assets/Pagination-c31b7e41.js
  assets/Title-7ba98360.js
  assets/index-f9d8ab13.js
  index.html
Due: none

add styles
  src/index.css
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinkPage/DrinkPage.styled.jsx
Due: prettier --write, eslint --fix

fix problem with remove button
  src/components/DrinkCard/OwnDrinkCard.jsx
  src/pages/MyDrinksPage/MyDrinksPage.jsx
  src/redux/drinks/drinksOperations.js
  src/redux/drinks/drinksSlice.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@efb1a4bb16d0dc9c3cbdeb238dfe6c16c8f4223a 🚀
  404.html
  assets/AddDrinkPage-2cac7895.js
  assets/DrinkCard.styled-dd2c2334.js
  assets/DrinkPage-7d0f1366.js
  assets/DrinksPage-495a5732.js
  assets/ErrorPage-b7461b1b.js
  assets/FavoritesPage-5fb83a81.js
  assets/FavoritesPage-7b72cc71.js
  assets/HomePage-f9c19533.js
  assets/MyDrinksPage-8756c8b6.js
  assets/MyDrinksPage-8884d988.js
  assets/NotFound-37123acf.js
  assets/NotFound-4ddb8526.js
  assets/Pagination-b45a55fe.js
  assets/Title-724aa802.js
  assets/index-ac8f8fa7.js
  index.html
Due: none

fix styles
  src/assets/images/drink-page/drinks_desktop.jpg
  src/assets/images/drink-page/drinks_desktop@2x.jpg
  src/assets/images/drink-page/drinks_mobile.jpg
  src/assets/images/drink-page/drinks_mobile@2x.jpg
  src/assets/images/drink-page/drinks_tablet.jpg
  src/assets/images/drink-page/drinks_tablet@2x.jpg
  src/assets/images/drink-page/images.js
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinkPage/DrinkPage.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@add068cdffca4a756a706b2a0ffb0f0edc8e0e65 🚀
  404.html
  assets/AddDrinkPage-8d65a9e5.js
  assets/DrinkCard.styled-fd6528f1.js
  assets/DrinkPage-7d0f1366.js
  assets/DrinkPage-a7281cc4.js
  assets/DrinksPage-0d779c33.js
  assets/ErrorPage-60b52cb2.js
  assets/FavoritesPage-e6a29c0c.js
  assets/HomePage-5d6c0aa9.js
  assets/MyDrinksPage-b554b0be.js
  assets/NotFound-37123acf.js
  assets/NotFound-46c3d573.js
  assets/Pagination-1b927f01.js
  assets/Title-ac4d64fe.js
  assets/drinks_desktop-0dda4d57.jpg
  assets/drinks_desktop@2x-eb8bc799.jpg
  assets/drinks_mobile-b94d9f31.jpg
  assets/drinks_mobile@2x-cfc7bd4d.jpg
  assets/drinks_tablet-ce0a3bb4.jpg
  assets/drinks_tablet@2x-2ec4efe3.jpg
  assets/index-63b88c2f.css
  assets/index-d75126a6.js
  assets/index-f43e0698.css
  index.html
Due: none

fixed
  src/index.css
Due: prettier --write

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@6f20f6e517ce631c715bf2008df8202876ace6ad 🚀
  404.html
  assets/AddDrinkPage-46216647.js
  assets/DrinkCard.styled-a9dcb0dc.js
  assets/DrinkPage-b86e60db.js
  assets/DrinksPage-71b7096b.js
  assets/ErrorPage-cfb4d091.js
  assets/FavoritesPage-392d05a3.js
  assets/HomePage-b6be2e33.js
  assets/MyDrinksPage-165254c3.js
  assets/NotFound-13cfaf91.js
  assets/NotFound-46c3d573.js
  assets/Pagination-fb716f13.js
  assets/Title-4e689814.js
  assets/index-63b88c2f.css
  assets/index-86c131cd.js
  assets/index-f43e0698.css
  index.html
Due: none

addToFavorites и немного стилей на Drinks
  src/components/DrinkCard/DrinkCard.jsx
  src/components/DrinkList/DrinkList.styled.js
  src/components/DrinkSearch/DrinksList/DrinksItem/DrinksItem.styled.js
  src/components/DrinkSearch/DrinksList/DrinksList.jsx
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinksPage/DrinkPage.styled.js
  src/pages/DrinksPage/DrinksPage.jsx
  src/pages/FavoritesPage/FavoritesPage.jsx
  src/redux/drinks/drinksOperations.js
Due: prettier --write, eslint --fix

fix
  src/pages/DrinkPage/DrinkPage.jsx
Due: prettier --write, eslint --fix

Update SignInForm.jsx
  src/components/SignIn/SignInForm.jsx
Due: prettier --write, eslint --fix

fix styles
  src/pages/DrinkPage/DrinkPage.jsx
  src/pages/DrinkPage/DrinkPage.styled.jsx
Due: prettier --write, eslint --fix

fix sing in inputs
  src/components/SignUp/DatePicker.styled.jsx
  src/components/SignUp/SignForm.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@f875f73faf589d9889fcff84adb2f7e10a476d08 🚀
  404.html
  assets/AddDrinkPage-9f4ce2fe.js
  assets/DrinkCard.styled-6b2af6bb.js
  assets/DrinkPage-33b7971a.js
  assets/DrinksPage-53cccc11.js
  assets/ErrorPage-98a96249.js
  assets/FavoritesPage-392d05a3.js
  assets/FavoritesPage-86339111.js
  assets/HomePage-bdfdb4a9.js
  assets/MyDrinksPage-165254c3.js
  assets/MyDrinksPage-a16e2dba.js
  assets/NotFound-13cfaf91.js
  assets/NotFound-8e703388.js
  assets/Pagination-2c500d44.js
  assets/Pagination-fb716f13.js
  assets/Title-bfdf808c.js
  assets/index-83de2921.js
  index.html
Due: none

fix light theme
  src/index.css
  src/pages/DrinkPage/DrinkPage.styled.jsx
Due: prettier --write, eslint --fix

add light theme for add drink
  src/components/AddDrink/PopularDrinks/PopularDrinks.styled.jsx
  src/components/AddDrinkR/AddDrinkForm.styled.js
  src/components/AddDrinkR/DrinkDescription/DrinkDescription.styled.js
  src/components/AddDrinkR/Ingredients/Ingredietns.styled.jsx
  src/components/AddDrinkR/Recipe/Recipe.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@995b65576af9f737379a2578719bd1f231164255 🚀
  404.html
  assets/AddDrinkPage-c2b4a201.js
  assets/DrinkCard.styled-b0b842a5.js
  assets/DrinkPage-7c041f1a.js
  assets/DrinksPage-30ff409c.js
  assets/ErrorPage-e065f7c0.js
  assets/FavoritesPage-efa91279.js
  assets/HomePage-1deb7cdd.js
  assets/MyDrinksPage-ebf8ee98.js
  assets/NotFound-6e0ab3d2.js
  assets/NotFound-8e703388.js
  assets/Pagination-60a95e42.js
  assets/Title-e9d0634e.js
  assets/index-2733121a.css
  assets/index-63b88c2f.css
  assets/index-88338c00.js
  index.html
Due: none
