Repository AndriiSkliar/drink-code-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*.{json,css,scss,md}": ["prettier --write"],
  "src/**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

base code
  .gitignore
  package-lock.json
  vite.config.js
Due: none

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@1d5c4f3c73d75b058e70b0de532dbc827a0e386c 🚀
  404.html
  assets/background-cb6f1b2b.png
  assets/example-def0f7cb.png
  assets/index-b7067df6.js
  assets/index-ff62dc8a.css
  assets/sprite-b6faba78.svg
  favicon.svg
  index.html
Due: none

upd main
  src/main.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@d0f96efa8e485d8abe850e963719fe67a92a66d6 🚀
  404.html
  assets/index-4739709a.js
  index.html
Due: none

update
  .env.template
  src/App.jsx
  src/App.styled.jsx
  src/assets/background.png
  src/assets/deploy-status.png
  src/assets/example.png
  src/assets/gh-actions-perm-1.png
  src/assets/gh-actions-perm-2.png
  src/assets/gh-pages-url.png
  src/assets/logo.png
  src/assets/repo-settings.png
  src/assets/secrets.png
  src/assets/sprite.svg
  src/assets/template-step-1.png
  src/assets/template-step-2.png
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.jsx
  src/components/SharedLayout/SharedLayout.jsx
  src/index.css
  src/main.jsx
  src/pages/FirstPage/FirstPage.jsx
  src/pages/FirstPage/FirstPage.styled.jsx
  src/pages/HalfPage/HalfPage.jsx
  src/pages/HalfPage/HalfPage.styled.jsx
  src/pages/SecondPage/SecondPage.jsx
  src/pages/SecondPage/SecondPage.styled.jsx
Due: prettier --write, eslint --fix

update
  src/assets/fonts/Manrope-Medium.woff
  src/assets/fonts/Manrope-Medium.woff2
  src/assets/fonts/Manrope-Regular.woff
  src/assets/fonts/Manrope-Regular.woff2
  src/assets/fonts/Manrope-SemiBold.woff
  src/assets/fonts/Manrope-SemiBold.woff2
  src/assets/fonts/demo.html
  src/assets/fonts/stylesheet.css
  src/assets/icons.svg
  src/components/Header/Header.jsx
  src/components/SharedLayout/SharedLayout.jsx
  src/components/SharedLayout/SharedLayout.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

add redux, fonts, css
  index.html
  src/fonts/Manrope-Medium.ttf
  src/fonts/Manrope-Regular.ttf
  src/fonts/Manrope-SemiBold.ttf
  src/index.css
Due: prettier --write

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@043496bdc8b534cdc2e4faf548deebfc70b42110 🚀
  404.html
  assets/Manrope-Medium-562fb5d8.ttf
  assets/Manrope-Regular-2960175e.ttf
  assets/Manrope-SemiBold-9cb6bdf0.ttf
  assets/index-47fe82f4.js
  assets/index-c56f65a6.css
  assets/index-ff62dc8a.css
  index.html
Due: none

update
  src/App.jsx
  src/assets/img/default-avatar.png
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.jsx
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.jsx
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.styled.jsx
  src/components/HeaderMain/Header.styled.jsx
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/LogoHeader/LogoHeader.jsx
  src/components/HeaderMain/LogoHeader/LogoHeader.styles.jsx
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserMenu.styled.jsx
  src/components/SharedLayout/SharedLayout.jsx
  src/components/SharedLayout/SharedLayout.styled.jsx
Due: prettier --write, eslint --fix

save
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.styled.jsx
  src/components/Logo/Logo.jsx
  src/components/SharedLayout/SharedLayout.jsx
Due: prettier --write, eslint --fix

update
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserMenu.styled.jsx
Due: prettier --write, eslint --fix

add axios, material-ui, assets
  package-lock.json
  package.json
Due: none

update
  src/assets/icons.svg
  src/assets/img/header/default-avatar.png
  src/assets/img/mob-menu-bg/bg222.png
  src/assets/img/mob-menu-bg/bg223.png
  src/assets/img/mob-menu-bg/bg224.png
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.jsx
  src/components/HeaderMain/Header.styled.jsx
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/MobileMenu/MobileMenu.jsx
  src/components/HeaderMain/MobileMenu/MobileMenu.styled.jsx
  src/components/HeaderMain/ToggleTheme/ToggleTheme.jsx
  src/components/HeaderMain/ToggleTheme/ToggleTheme.styled.jsx
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserMenu.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

update
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.styled.jsx
  src/components/HeaderMain/Header.styled.jsx
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/NavMenu/NavMenu.jsx
  src/components/HeaderMain/NavMenu/NavMenu.styled.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.styled.jsx
Due: prettier --write, eslint --fix

push add drink - AH
  package-lock.json
  package.json
  src/components/AddDrinkForm/AddDrinkForm.jsx
  src/components/AddDrinkForm/AddDrinkForm.styled.jsx
  src/components/AddDrinkPage/AddDrinkPage.jsx
  src/components/AddDrinkPage/AddDrinkPage.styled.jsx
Due: prettier --write, eslint --fix

update adddrink
  src/components/AddDrinkForm/AddDrinkForm.styled.jsx
Due: prettier --write, eslint --fix

delete
  src/components/AddDrinkForm/AddDrinkForm.jsx
Due: prettier --write, eslint --fix

update
  package-lock.json
  src/assets/icons.svg
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

add gitkeep
  src/assets/icons/.gitkeep
  src/assets/images/.gitkeep
Due: none

feature/folders
  src/redux/auth/.gitkeep
  src/redux/modal/.gitkeep
  src/redux/selectors/.gitkeep
Due: none

update
  package-lock.json
  package.json
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.styled.jsx
  src/components/HeaderMain/ToggleTheme/ToggleTheme.jsx
  src/components/HeaderMain/ToggleTheme/ToggleTheme.styled.jsx
Due: prettier --write, eslint --fix

add-background
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.styled.jsx
  src/components/HeaderMain/HeaderMain.jsx
  src/components/HeaderMain/LogoHeader/LogoHeader.styles.jsx
  src/components/HeaderMain/MobileMenu/MobileMenu.styled.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.styled.jsx
Due: prettier --write, eslint --fix

pic
  src/assets/images/welcomePage/bg-welcome-desctop@1x.jpg
  src/assets/images/welcomePage/bg-welcome-desctop@2x.jpg
  src/assets/images/welcomePage/bg-welcome-mobile@1x.jpg
  src/assets/images/welcomePage/bg-welcome-mobile@2x.jpg
  src/assets/images/welcomePage/bg-welcome-tablet@1x.jpg
  src/assets/images/welcomePage/bg-welcome-tablet@2x.jpg
Due: none

components-and-style-Welcome
  src/components/Welcome/Welcome.jsx
  src/components/Welcome/Welcome.styled.jsx
Due: prettier --write, eslint --fix

Create WelcomePage.jsx
  src/pages/WelcomePage/WelcomePage.jsx
Due: prettier --write, eslint --fix

fixed-add
  package-lock.json
  package.json
  src/assets/dummyDrinkThumb.png
  src/components/AddDrink/AddDrinkForm.jsx
  src/components/AddDrink/AddDrinkForm.styled.jsx
  src/components/AddDrink/DrinkDescription/DrinkDescription.jsx
  src/components/AddDrink/DrinkDescription/DrinkDescryption.styled.jsx
  src/components/AddDrink/DrinkIngredients/DrinkIngredients.jsx
  src/components/AddDrink/DrinkIngredients/DrinkIngredients.styled.jsx
  src/components/AddDrink/DrinkIngredients/IngredientsItem/IngridientsItem.jsx
  src/components/AddDrink/DrinkIngredients/IngredientsItem/IngridientsItem.styled.jsx
  src/components/AddDrink/Recipe/Recipe.jsx
  src/components/AddDrink/Recipe/Recipe.styled.jsx
  src/components/AddDrink/addDrinkFormInitials.js
  src/components/AddDrink/colors.js
  src/components/AddDrinkPage/AddDrinkPage.jsx
  src/components/AddDrinkPage/AddDrinkPage.styled.jsx
Due: prettier --write, eslint --fix

update
  src/assets/fonts/Manrope-Medium.woff
  src/assets/fonts/Manrope-Medium.woff2
  src/assets/fonts/Manrope-Regular.woff
  src/assets/fonts/Manrope-Regular.woff2
  src/assets/fonts/Manrope-SemiBold.woff
  src/assets/fonts/Manrope-SemiBold.woff2
  src/assets/fonts/demo.html
  src/assets/fonts/stylesheet.css
  src/assets/icons.svg
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserMenu.styled.jsx
  src/components/HeaderMain/UserPopup/UserPopup.jsx
  src/components/HeaderMain/UserPopup/UserPopup.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

fix App
  src/App.jsx
  src/components/Welcome/Welcome.styled.jsx
Due: prettier --write, eslint --fix

404 test push
  src/pages/ErrorPage/404_img.png
  src/pages/ErrorPage/404_img_desc.png
  src/pages/ErrorPage/404_img_tab.png
  src/pages/ErrorPage/ErrorPage.jsx
  src/pages/ErrorPage/ErrorPage.styled.jsx
Due: prettier --write, eslint --fix

refactoring
  src/components/Welcome/Welcome.jsx
  src/components/Welcome/Welcome.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

refactoring2
  src/components/Welcome/Welcome.jsx
  src/components/Welcome/Welcome.styled.jsx
  src/index.css
Due: prettier --write, eslint --fix

update
  src/components/HeaderMain/UserMenu/LogoutSure/LogoutSure.jsx
  src/components/HeaderMain/UserMenu/LogoutSure/LogoutSure.styled.jsx
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserPopup/UserPopup.jsx
  src/components/HeaderMain/UserMenu/UserPopup/UserPopup.styled.jsx
  src/components/HeaderMain/UserPopup/UserPopup.jsx
Due: prettier --write, eslint --fix

не доделал favorites но добавил немного redux
  index.html
  package-lock.json
  package.json
  public/favicon.svg
  src/App.jsx
  src/App.styled.jsx
  src/assets/icons/favicon-light-theme.ico
  src/assets/icons/favicon.ico
  src/assets/icons/favicon.svg
  src/assets/images/404Cocktail.png
  src/assets/images/404Cocktail2x.png
  src/components/DrinkCard/DrinkCard.jsx
  src/components/DrinkCard/DrinkCard.styled.js
  src/components/DrinkList/DrinkList.jsx
  src/components/DrinkList/DrinkList.styled.js
  src/components/Header/Header.jsx
  src/components/Title/Title.jsx
  src/components/Title/Title.styled.js
  src/index.css
  src/main.jsx
  src/pages/FavoritesPage/FavoritesPage.jsx
  src/pages/FavoritesPage/FavoritesPage.styled.js
  src/redux/auth/auth.reducer.js
  src/redux/auth/auth.selectors.js
  src/redux/cocktails/cocktails.reducer.js
  src/redux/selectors.js
  src/redux/store.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@0328c8335cfb5554243d1e8386db7b395cf209a5 🚀
  404.html
  assets/index-47fe82f4.js
  assets/index-712d831a.js
  index.html
Due: none

update
  package-lock.json
  src/assets/icons/icons.svg
  src/assets/images/header/default-avatar.png
  src/assets/images/mob-menu-bg/bg222.png
  src/assets/images/mob-menu-bg/bg223.png
  src/assets/images/mob-menu-bg/bg224.png
  src/components/HeaderMain/BurgerMenuButton/BurgerMenuButton.jsx
  src/components/HeaderMain/LogoHeader/LogoHeader.jsx
  src/components/HeaderMain/MobileMenu/MobileMenu.styled.jsx
  src/components/HeaderMain/ToggleDesktop/ToggleDesktop.jsx
  src/components/HeaderMain/UserMenu/LogoutSure/LogoutSure.jsx
  src/components/HeaderMain/UserMenu/UserMenu.jsx
  src/components/HeaderMain/UserMenu/UserPopup/UserPopup.jsx
Due: prettier --write, eslint --fix

footer partial
  src/assets/icons/Logo.svg
  src/assets/icons/facebook.svg
  src/assets/icons/instagram.svg
  src/assets/icons/youtube.svg
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.styled.jsx
  src/components/Footer/FooterNavigation/FooterNavigation.jsx
  src/components/Footer/FooterNavigation/FooterNavigation.styled.jsx
  src/components/Footer/Logo/Logo.jsx
  src/components/Footer/Logo/Logo.styled.jsx
  src/components/Logo/Logo.jsx
  src/components/SocialLinks/SocialLinks.jsx
  src/components/SocialLinks/SocialLinks.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@d44b45f7cafc180cd6e379502f13648efda79f32 🚀
  404.html
  assets/background-cb6f1b2b.png
  assets/bg222-dac64969.png
  assets/bg223-05fb6095.png
  assets/bg224-62c9578d.png
  assets/example-def0f7cb.png
  assets/index-712d831a.js
  assets/index-9ff197ff.js
  assets/index-c36fbb9b.css
  assets/index-c56f65a6.css
  assets/sprite-b6faba78.svg
  index.html
Due: none

bugfix/FavoritesPage
  package-lock.json
  src/App.jsx
  src/App.styled.jsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ AndriiSkliar/drink-code-frontend@bec744f318c472a5f72b52c5bc3c2046368c2eca 🚀
  404.html
  assets/favicon-3024bd73.ico
  assets/favicon-d77e5b0e.svg
  assets/index-1ebe7211.js
  assets/index-2b28cae3.css
  assets/index-9ff197ff.js
  assets/index-c36fbb9b.css
  favicon.svg
  index.html
Due: none
